* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    padding: 0 40px;
}
a {
  text-decoration: none;
  color: #1b1b1b;
}
.header-content {
  display: flex;
  flex-direction: column;
  background: #ccc;
  width: 100%;
  padding: 0 8px;
}
.header-title {
  text-align: center;
  padding: 32px 0;
  font-size: 32px;
  background-color: #1b1b1b;
  height: 100%;
  color: whitesmoke;
}
.header-search {
   width: 100;
   display: flex;
   justify-content: center;
   align-items: center;
}
.header-input {
    padding: 0 16px;
    width: 60%;
    height: 32px;
    margin: 16px 0;
    border: 1px solid black;
    border-radius: 10px 0px 0 10px;
    cursor: pointer;
    outline: none;

}
.header-input:focus {
 
}
.header-btn {
    width: 15%;
    height: 32px;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;
    background-color: #1b1b1b;
    font-size: 18px;
    color: white;
}
.main-container {
    float: right;
    width: 70%;
    background-color: aliceblue;
    padding: 0 8px;
}
.main-content{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-top: 16px;
    gap: 16px;
}
.main-title {
}
.main-title-text {
}
.main-details {
    display: flex;
    gap: 8px;
}
.side {
    width: 30%;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 8px;
}
.user-img {
    border: 1px solid black;
    border-radius: 16px;
    height: 210px;
    width: 100%;
    border-radius: 10px;
}
.user-name {
}
.user-education {
}
.user-social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    /* text-align: center; */
}
.ser-city {
}
.user-location {
    margin-bottom: 10px;
}
.loading {
    margin-top: 40px;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
}
